// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.blue{
	background-color: #3490dc;
}

.indigo{
	background-color: #6574cd;
}

.purple{
	background-color: #9561e2;
}

.pink{
	background-color: #f66d9b;
}

.red{
	background-color: #e3342f;
}

.orange{
	background-color: #f6993f;
}

.yellow{
	background-color: #ffed4a;
}

.green{
	background-color: #38c172;
}

.teal{
	background-color: #4dc0b5;
}

.cyan{
	background-color: #6cb2eb;
}

.text-blue{
	color: #3490dc;
}

.text-indigo{
	color: #6574cd;
}

.text-purple{
	color: #9561e2;
}

.text-pink{
	color: #f66d9b;
}

.text-red{
	color: #e3342f;
}

.text-orange{
	color: #f6993f;
}

.text-yellow{
	color: #ffed4a;
}

.text-green{
	color: #38c172;
}

.text-teal{
	color: #4dc0b5;
}

.text-cyan{
	color: #6cb2eb;
}